.card-body {
    width: 90%;
    display: flex;
    flex-direction: row ;
    align-items: flex-start;
}


div h3 {
    margin: 1% 5%;
}

.cad-btn {
    background-color: #350065 !important;
    border: none !important;
    width: 25%;
}

.prod-card{
    display: flex;
    align-items: flex-start;
    flex-direction: column !important;
    width: 75% !important;
}

.home-card {
 
    width: 75% !important;

}

.cli-img {
    width: 18rem !important;
    border-radius: 300% !important;
}

.fcont{
    margin-top: 1rem;
}

.user {
    display: flex;
    flex-direction: row;
}

.cli-card{
    display: flex;
    flex-direction: column !important;
    justify-content: flex-start;
    color: #350065;
   
}

.b1-btn {
    background-color: #350065 !important;
    border: none !important;
}

.b2-btn{
    background-color: transparent !important;
    border-color: #350065 !important;
    color: #350065 !important;
}

.prod {
    margin-bottom: 5%;  
}