.body-cart {
    display: flex;
    justify-content: center ;
    flex-direction: column;
    place-items: center ;
    margin: 2%;
    color: #350065;

}

.cart-card{
    width: 70%;
    height: 8rem;
    display: flex;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: space-around;
    margin: 1%;
    
}

.cart-img {
    width: 5rem !important;
}

.delete-btn {
    background-color: #350065 !important;
    border: none !important;
}

.delete-btn:hover {
    background-color: #f3e436 !important;
}

.finish-btn {
    background-color: #350065 !important;
    border: none !important;
    width: 20%;
}