.body-cart {
    color: #350065;

}

.cart-card{
    width: 70%;
    height: 8rem;

    
}

.cart-img {
    width: 5rem !important;
}

.delete-btn {
    background-color: #350065 !important;
    border: none !important;
}

.delete-btn:hover {
    background-color: #f3e436 !important;
}

.finish-btn {
    background-color: #350065 !important;
    border: none !important;
    width: 20%;
}