

.home-card {
 
    width: 75% !important;

}

.cli-img {
    width: 18rem !important;
    border-radius: 300% !important;
}


.cli-card{

    color: #350065;
   
}

.b1-btn {
    background-color: #350065 !important;
    border: none !important;
}

.b2-btn{
    background-color: transparent !important;
    border-color: #350065 !important;
    color: #350065 !important;
}

