.prod {
    width: '10rem' !important;
   
}

.edit-btn {
    background-color: #350065 !important;
    border: none !important;
}

.remove-btn {
    background-color: transparent !important;
    border-color: #350065 !important;
    color: #350065 !important;
}

.prod-img {
    width: 15rem !important;
}