.container-foot {
    background: #350065;
    color: #f3e436;
    width: 100%;
    bottom: 0;
}

.bnn {
    width: 70px;
    margin: 0;

}

.container-foot a {
    color: #f3e436 !important;
    text-decoration: none;
}