.container-foot {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #350065;
    color: #f3e436;
    width: 100%;
    bottom: 0;
    padding: 15px;
}

.bnn {
    width: 70px;
    margin: 0;

}

.container-foot a {
    color: #f3e436 !important;
    text-decoration: none;
}