.cad-btn {
    background-color: #350065 !important;
    border: none !important;
    width: 25%;
}

.prod-card{
    width: 75% !important;
}

.pr-img {
    width: 20rem !important;
}


.buy-card{
    color: #350065;
   
}

.b1-btn {
    background-color: #350065 !important;
    border: none !important;
}

.b2-btn{
    background-color: transparent !important;
    border-color: #350065 !important;
    color: #350065 !important;
}

.cep {
    width: 80% !important;
}